
body {
  font-family: arial;
}
.tabContainer  {
 
  padding:15px;
  -moz-border-radius: 4px;
  border-radius: 4px; 
}
.tabs{
  overflow:hidden;
}
.tabs > ul{
  font: 1em;
  list-style:none;
}
.tabs > ul > li {
  margin:0 2px 0 0;
  padding:7px 10px;
  display:block;
  float:left;
  color:#333;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius:4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px; 
  
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
  cursor:pointer;
  border: 1px #ccc solid;
}
.tabs > ul > li:hover {
  color:#ccc;
  background: #129eb4;
}
.tabs > ul > li.tabActiveHeader {
  color:#FFF;
  background: #129eb4;
}
.tabscontent {
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px; 
  padding:10px 10px 25px;
  background: #FFFFFF; /* old browsers */
  background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
  margin:0;
  color:#333;
  border: 1px #ccc solid;
}
.gototab {
  cursor: pointer;
  background: #129eb4;
  color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  float: left;
  margin: 10px;
}


/*------*/
.previous-tab,
.next-tab{
  display: inline-block;
  border: 1px solid #444348;
  border-radius: 3px;
  margin: 5px;
  color: #444348;
  font-size: 14px;
  padding: 10px 15px;
  cursor: pointer;
}
/*--*/
