.menu {
    z-index: 9999;
    width: 100%;
  	position: fixed;
	background: #e7ebecd1;

}
.container{
	width: 1024px;
}
.mg1 {
	    margin-left: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
	color: #b0a4a4;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.content1 {
	font-size: 48px;
	color: #ffffff;
	text-transform: uppercase;
}
.banner {
	height: 488px;
}
.text-align{
    text-align: center;
}
.content2 {
	width: 835px;
    margin: auto;
    color:#636363;
}
.title1 {
	padding-top: 65px;
}
.img1 {
	margin-right: 80px;
	    width: 183px;
    height: 183px;
    padding: 40px;
    border-radius: 50%;
    text-align: center;
	background: #4eb9f4;
}
.img2 {
	margin-right: 80px;
	    width: 183px;
    height: 183px;
    padding: 40px;
    border-radius: 50%;
    text-align: center;
	background: #6fc125;
}
.img3 {
	margin-right: 80px;
	    width: 183px;
    height: 183px;
    padding: 40px;
    border-radius: 50%;
    text-align: center;
	background: #ff5649;
}
.img4 {
	    width: 183px;
    height: 183px;
    padding: 40px;
    border-radius: 50%;
    text-align: center;
	background: #e48f23;
}
.mr-img {
	    margin: auto;
	margin-top: 87px;
}
.mr-img p {
	color: #f6fbfe;
	padding-top: 12px;
}
.hr1 {
	margin-top: 55px;
    margin-bottom: 66px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.a1 {
	padding-bottom: 77px;
}
.footer {
	background: #000;
    color: #aeaeae;
}
.icon{
	margin-top: 50px;
}
.text-f {
	margin-top: 36px;
}
.f-m-t {
	padding-top: 30px;
}
#footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#footer li {
    float: none;
}
