.container {
    width: 1170px;
}
.logo {
    padding-top: 9px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li  {
    float: left;
    color: #b0a4a4;
    display: block;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-inline {
    padding: 25px 20px;
}
.border-box {
    box-shadow: 0px 2px #eaeaea;
}
.title1 {
    padding: 35px 0px 30px 0px;
    color: #494949;
}
.icon1 {
    padding: 0px 10px 0px 10px;
}
.box {
    float: left;
    
}
.title3{
    font-weight: bold;
    color: #fff;
    background: red;
    border-radius: 4px;
    padding: 20px 28px;
    text-align: center;
}
.bg-title{
    background: #f7f7f7;
}
.padding-title{
    margin-bottom: 31px;
    margin-top: 26px;
    padding: 41px 0px 40px;
}
.fab, .far {
    margin-right: 2px;
    border-radius: 2px;
    font-size: 15px;
    border: 1px solid #888888ba;
    padding: 12px 10px; }
.card-body {
    padding: 30px 0px 55px 0px;
}
.card {
    border: 0px;
}
.card-img, .card-img-top {
    width: 269px;
    height: 177px;
    }
.searchbar input {
    border: 1px solid #161515;
    border-radius: 2px;

}
.footer {
    background: #272727;
    color: #d9d9d9;
}
.footer h4 {
    padding-top: 42px;
    padding-bottom: 35px;
    color: #ffffff;
}
#footer .fab {
    margin-right: 0px;
    border-radius: 0px;
    font-size: 15px;
    border: 0px solid #888888ba;
    padding: 0px;
}
#footer dt {
    font-size: 15px;
    padding: 7px 0px 7px 0px;
}
.coppy-right {
    margin: 26px 0px;
}
.img-coppy img {
    float: right;
}
.searchbar {
    position: relative;
}
a.search_icon {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #000;
}
.searchicon {
    display: none;
}

@media (max-width: 768px) {
.home {    display: none !important;}

}

@media(max-width:992px) {
    .home {    display: none !important;}
    .img-coppy img { display: none !important  ;}
    .coppy-right { text-align: center; }
    .navbar {
        float: right; 
        position: absolute;
        right: 20%;
        top: 0px;}
    .searchicon{
        float: right;
        position: absolute;
        right: 18%;
        font-size: 25px;
        top: 10px;
        display: block !important;}
}

@media  (min-width : 768px) and (max-width : 1024px)  {
li {   padding: 10px 10px;}
}

@media  (max-width : 1024px) and (min-width : 768px) {
li {   padding: 10px 10px;}
}

@media  (min-width : 768px) and (max-width : 1024px)  {
li {   padding: 10px 10px;}
}

@media (max-width:1024px) {
li {   padding: 10px 10px;}
}

@media (max-width:1199px) {
li {   padding: 10px 10px;}
}
