body{
	padding: 0;
	margin: 0;
	background-color:#182f3c;
}
ul{
	padding: 0;
	margin: 0;
}
/*album1*/
#slider-wrapper{
	max-width: 540px;
  	width: auto;
	height: auto;
	margin: 50px auto;
	padding: 15px;	
}
#image-slider{
	width: auto;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: auto;
	display: block;
}
#image-slider ul{
	width: 100%;
	height: 359px;
	position: relative;
}
#image-slider ul li{
	display: inline-block;
	position: absolute;
	top: 0;
	left: 540px;
  	width: 100%;
  	height:100%; 
}
#image-slider ul li img {
	width: 100%;
  	height:auto;
}
#image-slider ul li.active-img{
	left: 0;
}
.next-img{
	z-index: 9999;
}
#thumbnail {
	cursor: default;
	margin-top: 3px;
	height: auto;
	display: table;	
	width: 100%;
}
#thumbnail ul {
	width: 100%;
	height: 100%;
}
#thumbnail li{
	list-style: none;
	float: left;
	cursor: pointer;
	min-width: 1px;
}																
#thumbnail li img{
	padding: 0;
	float: left;
	margin: 0px 1.5px;
	max-height: 56px;
	height: 56px;
}
#thumbnail li:first-child img{
	margin-right:0px;
  	margin-left:0px;
}	
	

.container{
	background: #eaeaea;
	text-align: center;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
  }
  
#myCarousel{
	max-width: 650px;
	margin: 0 auto;
	background: #fff;
}

#thumbCarousel{
	max-width: 650px;
	margin: 0 auto;
	overflow: hidden;
	background: #eaeaea;
	padding: 10px 0;
}

#thumbCarousel .thumb{
	float: left;
	margin-right: 10px;
	border: 1px solid #ccc;
	background: #fff;
}

#thumbCarousel .thumb:last-child{
	margin-right: 0;
}

.thumb:hover{
	cursor: pointer;
}

.thumb img{
	opacity: 0.5;
}

.thumb img:hover{
	opacity: 1;
}

.thumb.active img{
	opacity: 1;
  border: 1px solid #1d62b7;
}


/*-album2-*/


 ul, li {
list-style: none;
display: inline-block;
margin: 0;
padding: 0;
}
 
#slideshow {
width: 100%;
height: auto;
position: relative;
text-align: center;
}
 
#slideshow img {
width: 100%;
}
 
#slideshow span {
position: fixed;
top: 50%;
color: white;
font-size: 30px;
margin-top: -72px;
text-shadow: 0px 0px 5px #000;
cursor: pointer;
padding: 5px 5px 7px 5px;
border-radius: 3px;
transition: 0.5s;
z-index: 10;
}
 
#slideshow span:hover,
#slideshow span:focus {
background-color: rgba(255, 255, 255, .5);
}
 
#slideshow .prev {
left: 5%;
}
 
#slideshow .next {
right: 5%;
}
 
#slideshow .slide {
display: none;
float: left;
position: absolute;
}
 
#slideshow .slide-active {
position: relative;
}
 
#slideshow .text {
position: relative;
text-align: center;
top: -100px;
color: white;
}
 
#slideshow ul {
position: relative;
top: -110px;
}
 
#slideshow .dot {
width: 10px;
height: 10px;
border-radius: 50%;
border: 1px solid red;
margin: 0 2px;
cursor: pointer;
transition: 0.5s;
}
#thumbnail li:active img{
	border: 1px solid #000;
	border-radius: 50px;
}
.active:active img {
	border-radius: 50px;
}
  
#slideshow .dot-active,
.dot:hover,
.dot:focus {
background-color: white;
}


/*--*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}

ul{
	list-style: none;
	margin-bottom: 0;
}

a{
	text-decoration: none;
}

img{
	max-width: 100%;
	height: auto;
}

.slider{
	width: 90%;
	height: 600px;
	margin: 50px auto;
	position: relative;
	box-shadow: 0px 0px 10px 3px grey;
	overflow: hidden;
	border: 5px solid #3949ab;
}

.slider figure{
	margin: 0px;
	position: relative;
	width: 100%;
	left: 0px;
	transition: 1s ease-in-out;
}

.slider figure img{
	width: 50%;
	height: 100%;
	float: left;
}

/*button style*/

.btn-next, .btn-prev{
	position: absolute;
	top: 40%;
	cursor: pointer;
	color: white;
	background: #3949ab;
	padding: 20px;
	font-size: 50px;
	border: none;
}

.btn-next{
	right: 40px;
}

.btn-prev{
	left: 40px;
}
.bgImage:active {
	border: 1px solid red;
}
.bgImage:focus {
	border: 1px solid red;
}
