.container{
	width: 1187px;
}
.containe{
	width:100%;
}
.logo img {
	padding-top: 18px;
    padding-bottom: 25px;
}
.menu {
	font-size: 17px;
    font-weight: bold;
    float: right;
    text-transform: uppercase;
    left: 200px;
}
.color-white{
	color: #ffffff!important;
}
.padding-right-menu {
	padding-right: 50px !important;
}
.banner img {
	width: 100%;
}
.rau {
	width: 100px!important;
}
.banner h6{
	font-size: 44px;
}
.banner h3 {
	font-weight: 900;
    font-size: 88px;
    letter-spacing: 30px;
}
.carousel-caption {
    padding-bottom: 17%;
}
.bg-yellow{
	background: #cfc91d;
}
.know-more {
	padding: 19px 0px 17px;
    width: 197px;
    color: #0b1016;
    margin: auto;
    font-weight: 900;
    margin-top: 50px;
}
.color-about{
color: #7e8287;}
.text-1{
	font-size: 25px;
}
.about-me{
	margin-top: 98px;
	margin-bottom: 80px;
}
.about-me h2{
	font-weight: bold;
    font-size: 55px;
    
}
.about-me p {
    font-size: 20px;}
.title-icon{
	padding-top: 30px;
    padding-bottom: 29px;
    font-size: 20px;
    color: #7e8287;
    font-weight: 900;
}
.color-des{
	color: #7e8287;
}
.services {
	background-image: url(../img/bg-servicers.png);
	background-size: 100% 100%;
}
.services h2{
	padding-top: 73px;
	padding-bottom: 44px;
	font-weight: bold;
    font-size: 55px;
}
.padding-bt20{
	padding-bottom: 20px;
}
.text-services {
	line-height: 50px;
}
.title-icon-services{
	padding-top: 20px;
    font-size: 20px;
    color: #7e8287;
    font-weight: 900;
}
.title-figure{
	padding-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: 900;
}
figure.snip1321 {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 25%;
  text-align: center;
}
figure.snip1321 img {
  width: 100%;
}
.album-image{
	display: flex;
    flex-wrap: wrap;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}

figure.snip1321:after {
  background-color: #1d9089d6;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
#images-block-1 .row {
	    margin-right: 0px !important;
    margin-left: 0px !important;
}
.pd-bt-services{
	padding-bottom: 80px;
}
.input-name {
	height: 60px;
	background: none;
	border: none;
    border-bottom: 1px solid #888;
    border-radius: 0px;
    width: 50%;
    margin: auto;
}
.input-email {
	height: 60px;
	background: none;
	border: none;
    border-bottom: 1px solid #888;
    border-radius: 0px;
    width: 50%;
    margin: auto;
}
.input-message{
	height: 60px;
	background: none;
	border: none;
    border-bottom: 1px solid #888;
    border-radius: 0px;
    width: 80%;
    margin: auto;
}
.bg-submit{
	border-radius: 1px;
    width: 197px;
	background: none;
	background: #cfc91d;
	border: 1px solid #cfc91d;
	margin-top: 20px;
    margin-bottom: 69px;
}
.bg-form {
	background: #070707;
}
.footer {
	padding-top:33px;
	padding-bottom:26px;
	color: #7e8287;
}
.bg-coppy-right {
	background: #000000;
}
.top-1 {
	    padding-top: 20px;
}



@media (max-width: 768px) {


}

@media(max-width:992px) {
.navbar {
    background: #17a2b8!important;
    float: right;
    position: fixed;
    right: 0%;
    top: 0px;}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    padding-top: 0px;
    top: 200px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;}
.banner h6 {
    font-size: 30px;}
.banner h3 {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 15px;}
figure.snip1321 {
    width: 80%;
    padding-bottom: 10px; }



}

@media  (min-width : 992px) and (max-width : 1024px)  {
.banner h3 {
    font-weight: 900;
    font-size: 36px;
    letter-spacing: 20px;}
.banner h6 {
    font-size: 30px;}
.carousel-caption {
    padding-bottom: 5%;}
}

@media  (max-width : 1024px) and (min-width : 768px) {

}

@media  (min-width : 768px) and (max-width : 1024px)  {

}

@media (max-width:1024px) {

}
